@font-face {
  font-family: 'Academica';
  src: url('Academica.eot');
  src: url('Academica.eot?#iefix') format('embedded-opentype'),
       url('Academica.woff2') format('woff2'),
       url('Academica.woff') format('woff'),
       url('Academica.ttf') format('truetype'),
       url('Academica.svg#Academica') format('svg');
  font-weight: normal;
  font-style: normal;
}

