// Base shape
.blocks-layout {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blocks-layout__block {
  position: relative;
  padding: 1rem;
  min-height: 350px;
}

.blocks-layout__header {
  width: 100%;
}

.blocks-layout__block--unhover .blocks-layout__foreground{
  background: rgba(#fff, 0.65);
  color: rgba(#000, 1);
}

.blocks-layout__background {
  display: flex;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  -webkit-filter: grayscale(100%) url(#monochrome);
}

.blocks-layout--without-filter .blocks-layout__background {
  -webkit-filter: unset;
}

.blocks-layout__foreground {
  position: absolute;
  width: calc(100% - 2rem);
  height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(#fff, 0);
  color: rgba(#000, 0);
  z-index: 100;
  transition: 0.5s background ease-in-out, 0.5s color ease-in-out 0s;
}

.blocks-layout__foreground:hover {
  background: rgba(#fff, 1);
  color: rgba(#000, 1);
  transition: 0.25s background ease-in-out, 0.25s color ease-in-out 0.25s;
}

.blocks-layout__summery {
  width: 100%;
}

.blocks-layout__title {
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 0.9rem;
  background: white;
  color: black;
}

.blocks-layout__summery p,
.blocks-layout__footer time {
  font-size: 0.65rem;
}

.blocks-layout__footer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 0.5rem 0rem;
}

.blocks-layout__time {
  width: 100%;
  text-align: right;
  background: white;
  color: black;
}

// Behaviour


// Mediaquerries
@media (max-width: $breakpoint-md){
  .blocks-layout__block {
    width: 100%;
  }
  .blocks-layout__title {
    font-size: inherit;
    font-size: 1.25rem;
  }

  .blocks-layout__summery p,
  .blocks-layout__footer time {
    font-size: 1rem;
  }
}

@media (min-width: $breakpoint-md){
  .blocks-layout__block {
    width: 1/3*100%;
  }
}

@media (min-width: $breakpoint-xxl){
  .blocks-layout__block {
    width: 1/4*100%;
  }
}

// Variation
.blocks-layout__block--first-item {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1rem solid white;

  background: $themeColor;
  color: white;
}

.blocks-layout__block--empty {
}
