.excerpt-fw {
  width: 100%;
}

.excerpt-fw__image-container {
  display: flex;
  height: 40vh;
  align-items: center;
  overflow: hidden;
}

.excerpt-fw__image {
  width: 100%;
  -webkit-filter: grayscale(100%) brightness(1.1) url(#monochrome);
}

.excerpt-fw__meta {
  margin: 2rem;
}

.excerpt-fw__title {
}

.excerpt-fw__author {
  color: $themeColor;
}