.featured-image {
  flex-grow: 1;
  width: 100%;

  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

.featured-image--fp {
  width: 80%;
  margin: 2rem 0 0 0;
  background-size: contain; 
  flex-shrink: 1;
  flex-grow: 1;
}

.featured-image__caption {
  width: 30rem;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  
  font-size: 0.75rem;
}
