input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem 0 0;
  background: url(../../assets/images/empty-checkbox.png) center center / cover no-repeat;
}

input[type="checkbox"]:checked + label:before {
  background: url(../../assets/images/empty-checkbox-checked.png) center center / cover no-repeat;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem 0 0;
  background: url(../../assets/images/empty-checkbox.png) center center / cover no-repeat;
}

input[type="radio"]:checked + label:before {
  background: url(../../assets/images/empty-checkbox-checked.png) center center / cover no-repeat;
}

input[type="text"] {
  font-family: $baseFont;
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem;
  border: none;
  background: rgba( $themeColor, .2 );
}

label {
  font-family: $baseFont;
}

input[type=submit] {
  width: 100% !important;
  margin: 1rem 0;
  padding: 1rem;

  border: 0.1rem solid $themeColor;

  // border-image: url(../../assets/images/empty-checkbox.png) 100% round;

  font-size: 1.5rem;
  font-family: $baseFont;
  background: white;
}

input[type=submit]:hover {
  background: rgba( $themeColor, .2 );
}

.ninja-forms-form-wrap {
  padding: 2rem 0;
}

.ninja-forms-form-wrap hr {
 display: none !important;
}