// Grid system

html, body {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
}

.all-wrapper {
	min-height: 100%;
	position: relative;
}

.nav-side {
	position: absolute;
	width: 60%;
	min-height: 80%;
	left: -60%;
	z-index: 1000;
    transition: all 0.5s ease;
	@media (min-width: $screen-sm-min) {
		width: 40%;
		left: -20%;
	}
	&.on {
		left: 0%;
	}
}

.main {
	width: 100%;
	padding-bottom: 450px;
	@media (min-width: $screen-sm-min) {
		width: 80%;
		margin-left: 20%;
	}
}