.redactie__container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}


.redactie__member {
  position: relative;
  width: 1/2*100%;
}

@media (min-width: $breakpoint-sm){
  .redactie__member {
    width: 1/3*100%;
  }
  .redactie__member-title {
    display: inline-block;
    font-size: 1rem;
  }
  .redactie__member-summery {
    width: 100%;
    font-size: 0.9rem;
  }
}
@media (min-width: $breakpoint-lg){
  .redactie__member {
    width: 1/3*100%;
  }
}

@media (min-width: $breakpoint-xxl){
  .redactie__member {
    width: 1/3*100%;
  }
}

.redactie__img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
}

.redactie__member-meta {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  color: rgba(#000, 0);
  background: rgba(#fff, 0);
  transition: 0.5s all ease-in-out;
  z-index: 100;
}

.redactie__member-meta:hover {
  color: rgba(#000, 1);
  background: rgba(#fff, 0.65);
}


.redactie__member-title {
  display: inline-block;
  font-size: 0.8rem;
}

.redactie__member-summery {
  width: 100%;
  font-size: 0.5rem;
}
