.redactie__container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.redactie__member {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 0;
}

.redactie__img {
  width: 50%;
  height: 400px;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0.5rem 0 1rem 0;
}

.redactie__member-meta {
  padding: 0 0 0 2rem;
}

.redactie__member-title {
  width: 100%;
  font-size: 0.9rem;
}

.redactie__member-summery {
  font-size: 0.65rem;
}