.redactie__container {
  display: flex;
  flex-wrap: wrap;
}

.redactie__img-container {
  width: 25%;
}

.redactie__img-container {
  .avatar {
    width: 100%;
    height: auto;
    padding: 0 5px 5px 0;
    filter: brightness(130%) grayscale(100%) url(#monochrome);
  }
}

