.social-media-bar .addthis_toolbox a {
  padding: 0;
}

.social-media-bar .addthis_toolbox a span {
  margin-right: 10px;
  background: $themeColor !important;
  // width: 2rem !important;
  // height: 2rem !important;
}

.social-media-bar .addthis_toolbox a span svg {
  // width: 2rem !important;
  // height: 2rem !important;
}
