.sp__meta {
  padding: 2rem 0 1.4rem 0;
}

.sp__title {

}

.sp__author {
  padding-top: 0.5rem;
  color: $themeColor;
}

.sp__content-container {
}

.sp__content-container > p {
  padding-bottom: 1.4rem;
}

.sp__footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}