.background-image-wrapper {
	position: relative;
	z-index: -1;
	display: flex;
	align-items: center;
	width: 100%;
	max-height: 85vh;
	filter: grayscale(100%) url(#monochrome);
	overflow: hidden;
}

.background-image-wrapper img {
	width: 100%;
}

.no-background {
	height: 20vh;
	width: 100%;
}

.no-filter {
	filter: none;
}