@font-face {
  font-family: 'Lars-Regular';
  src: url('../fonts/Lars-Regular.eot');
  src: url('../fonts/Lars-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lars-Regular.woff2') format('woff2'),
       url('../fonts/Lars-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Academica';
  src: url('../fonts/Academica.eot');
  src: url('../fonts/Academica.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Academica.woff2') format('woff2'),
       url('../fonts/Academica.woff') format('woff'),
       url('../fonts/Academica.ttf') format('truetype'),
       url('../fonts/Academica.svg#Academica') format('svg');
  font-weight: normal;
  font-style: normal;
}

$text-color:            black !default;

//** Global textual link color.
$link-color:            black !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-primary !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  Lars-regular, Helvetica, Arial, sans-serif !default;
$font-family-serif:       Academica, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-serif !default;

$font-size-base:          25px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

body {
	word-wrap: break-word;
}

figcaption {
  font-size: $font-size-h6;
}