// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #000;

// Typography
$font-size-base:          12px !default;

// Shapes
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

// Navbar
$navbar-default-color:             #fff !default;
$navbar-default-bg:                #000 !default;

