html {
  box-sizing: border-box;
  font-size: 20px;
  width: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

h1, h2, h3, h4 ,h5, h6 {
  font-family: $titleFont;
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem; 
}

h4 {
  font-size: 1.25rem; 
}
h5 {
  font-size: 1rem; 
}

h6 {
  font-size: 0.75rem; 
}

p, a, li, ul, ol {
  font-family: $baseFont;
  font-size: 1rem; 
  line-height: 1.4;
}

ul {
  list-style: none;
}

ul, ol {
  list-style-position: inside;
}

a {
  color: $baseColor;
  text-decoration: none;
}