$breakpoint-xs : 400px;
$breakpoint-sm : 600px;
$breakpoint-md : 800px;
$breakpoint-lg : 1000px;
$breakpoint-xl : 1200px;
$breakpoint-xxl : 1400px;
$breakpoint-xxxl : 1600px;
$breakpoint-2k : 2000px;
$breakpoint-3k : 3000px;
$breakpoint-4k : 4000px;

@media (min-width: 0){
  html {
    font-size: 12px;
  }
}

@media (min-width: $breakpoint-xs){
  html {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-sm){
  html {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-md){
  html {
    font-size: 18px;
  }
}

@media (min-width: $breakpoint-lg){
  html {
    font-size: 20px;
  }
}

@media (min-width: $breakpoint-xl){
  html {
    font-size: 24px;
  }
}

@media (min-width: $breakpoint-xxl){
  html {
    font-size: 26px;
  }
}

@media (min-width: $breakpoint-xxxl){
  html {
    font-size: 28px;
  }
}

@media (min-width: $breakpoint-2k){
  html {
    font-size: 40px;
  }
}

@media (min-width: $breakpoint-3k){
  html {
    font-size: 60px;
  }
}

@media (min-width: $breakpoint-4k){
  html {
    font-size: 80px;
  }
}