@font-face {
  font-family: 'Academica';
  src: url('../fonts/Academica.eot');
  src: url('../fonts/Academica.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Academica.woff2') format('woff2'),
       url('../fonts/Academica.woff') format('woff'),
       url('../fonts/Academica.ttf') format('truetype'),
       url('../fonts/Academica.svg#Academica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Resistance-Regular';
  src: url('../fonts/Resistance-Regular.woff') format('woff'),
       url('../fonts/Resistance-Regular.ttf') format('truetype'),
       url('../fonts/Resistance-Regular.svg#Resistance-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'resistance_generale-webfont';
  src: url('../fonts/resistance_generale-webfont.eot');
  src: url('../fonts/resistance_generale-webfont.woff2') format('woff2'),
       url('../fonts/resistance_generale-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'resistance-editted';
  src: url('../fonts/resistance-editted.eot');
  src: url('../fonts/resistance-editted.woff2') format('woff2'),
       url('../fonts/resistance-editted.woff') format('woff'),
       url('../fonts/resistance-editted.ttf') format('truetype'),
       url('../fonts/resistance-editted.svg#MyFontobjectObject') format('svg'),
       url('../fonts/resistance-editted.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$baseFont: 'Academica';
$titleFont: 'Resistance-Regular';