@font-face {
  font-family: 'Academica';
  src: url('../fonts/Academica.eot');
  src: url('../fonts/Academica.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Academica.woff2') format('woff2'),
       url('../fonts/Academica.woff') format('woff'),
       url('../fonts/Academica.ttf') format('truetype'),
       url('../fonts/Academica.svg#Academica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'jungkabook';
    src: url('../fonts/jungka-book-webfont.eot');
    src: url('../fonts/jungka-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jungka-book-webfont.woff2') format('woff2'),
         url('../fonts/jungka-book-webfont.woff') format('woff'),
         url('../fonts/jungka-book-webfont.ttf') format('truetype'),
         url('../fonts/jungka-book-webfont.svg#jungkabook') format('svg');
    font-weight: normal;
    font-style: normal;
}

$baseFont: 'Academica';
$titleFont: 'jungkabook';