.about {
	margin-top: -35px;
	padding: 0 40px;
	@include clearfix();
}

.about__left {
	@include make-md-column-offset(0);
	@include make-md-column(6);
	@include clearfix();

	background: white;
}

.about__right {
	@include make-md-column-offset(1);
	@include make-md-column(5);
	@include clearfix();

	background: white;
}

// about__left contents
.description {
	
}

.people {
	@include clearfix();
}

.people__people-container {
	display: flex;
	flex-wrap: wrap;
}

.people__person-container {
	width: 25%;
	max-height: 200px;
	padding-right: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	img {
		width: 100% !important;
		height: auto !important;

	}
}

// about__right contents
.news {
	background: white;
}

.write {
	margin-top: 70px;
}