.about {
	margin-top: -40px;
	@include clearfix();
}

.about__left {

}

.about__right {

}

// about__left contents
.description {
	background: white;
}

.people {
	padding-top: 50px;
	@include clearfix();
}

.people__person {
	display: block;

	width: 200px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;

	float:left;
}

// about__right contents
.news {
	background: white;
}

.write {
	padding-top: 50px;
}