.about-container {
	position: relative;
	@media (min-width: $screen-sm-min) {
		margin-top: -100px;
	}
}

.about-news {
	margin-top: 20px;
	background: white;
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	padding: 20px;
	@include clearfix();
	.post {
		@include make-sm-column(4);
		&:nth-child(2) {
			@include make-sm-column-offset(0);
		}
		&:nth-child(3) {
			@include make-sm-column-offset(0);
		}
	}
}

.about-text {
	@media (min-width: $screen-sm-min) {
		margin-top: 200px;
		margin-right: -10px;
	}
	background: white;
	border-top: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	margin-top: 20px;
	// messes with the grid!!  \/\/\/
	margin-right: 0px;
	// messes with the grid!!  /\/\/\
	@include make-sm-column-offset(2);
	@include make-sm-column(6);
	padding: 10px 20px 20px 30px;
}

.about-people {
	padding: 20px 0;
	margin-top: 20px;
	background: white;
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	@include make-sm-column(2);
	@include clearfix();
	img {
		width: 50%;
		height: auto;
		display: block;
		padding: 20px;
		float: left;
	}
	@media (min-width: $screen-sm-min) {
		img {
			width: 80%;
			height: auto;
			display: block;
			padding: 0 0 10px 0;
			margin: 0 auto;
			float: none;
		}
	}
}

.about-topics {
	@include make-sm-column(6);
	
	margin-top: 20px;
	border-top: 5px solid black;
	background-color: white;
	ul {
		list-style: none;
		padding: 4px 0 0 0;
		li {
			padding: 5px;
			margin: 10px;
			border-right: solid 5px black;
			border-bottom: solid 5px black;
		}
	}
	@media (min-width: $screen-sm-min) {
		margin-top: 20px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: -200px;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: -400px;
	}
	@media (min-width: 1400px) {
		margin-top: -600px;
	}
}