.frontpage-container {
	@include make-row();

	.post-container {
		padding-top: 40px;
		@include make-sm-column-offset(1);
		@include make-sm-column(7);
	}

	.post {
		&:nth-child(-n+5) {
			padding: 200px 0 0 0;
			margin-bottom: 120px;
			background-size: 100% auto;
			background-position: center center;
			.inner-post-container {
				position: relative;
				top: 100px;
				background: white;
			}
		}	
	}

	.inner-post-container {
		width: 80%;
		padding: 10px;
		margin: 10px auto;
		border-top: 5px solid black;
		border-right: 5px solid black;
		border-bottom: 5px solid black;
	}

	.frontpage-current-issue {
		padding-top: 40px;
		height: 1000px;
		@include make-sm-column-offset(1);
		@include make-sm-column(3);
		.issue-image{
			display: block;
			margin: 0 auto;
			width: 50%;
		}
	}
}


.small-title {
	color: silver;
}