.frontpage-news {
	@include make-row();
	.post {
		@include make-sm-column(3);
		
		&:nth-child(3) {
			@include make-sm-column-offset(1);
		}
		&:nth-child(4) {
			@include make-sm-column-offset(1);
		}
	}
	.small-title {
		margin-left: $grid-gutter-width / 2 ;
	}
}

.frontpage-issue {
	margin-top: 100px;
	@include make-row();
	.frontpage-current-issue {
		@include make-sm-column(5);
		.issue-image{
			width: 50%;
		}
	}

	.in-between {
		@include make-sm-column(1);
		height: 200px;
		border-right: solid black 5px;
	}
	
	.post-container {

		@include make-sm-column-offset(1);
		@include make-sm-column(4);
	}

	.post {
		
	}
}

.frontpage-old-issues {
	@include make-row();
	margin-top: 20px;
	padding-top: 100px;
	.single-issue {
		@include make-sm-column(10);
		margin-bottom: 20px;

		.issue-image{
			display: block;
			width: 10%;
			float: left;
		}
		.single-issue-text {
			display: block;
			width: 90%;
			padding-left: $grid-gutter-width / 2;
			float: left;
		}

	}
	.small-title {
		margin-left: $grid-gutter-width / 2 ;
	}
}

.small-title {
	color: silver;
}