.about-news {
	padding: 0 0 80px 0;
	@include make-row();
	.post {
		@include make-sm-column(3);
		
		&:nth-child(2) {
			@include make-sm-column-offset(1);
		}
		&:nth-child(3) {
			@include make-sm-column-offset(1);
		}
	}
	.small-title {
		margin-left: $grid-gutter-width / 2 ;
	}
}

.about-top-row {
	@include make-row();

	.about {
		@include make-sm-column(5);
	}

	.about-topics {
		@include make-sm-column-offset(2);
		@include make-sm-column(4);
		h4 {
			padding: 5px;
			border-right: solid 5px black;
			border-bottom: solid 5px black;
		}
	}
}

.about-people-row {
	padding-top: 80px;
	@include make-row();

	.about-editorial {
		@include make-sm-column(5);
		.contact-gegevens {
			width: 50%;
			margin: 0 auto;
			padding: 20px;
		}
	}

	.about-staff {
		@include make-sm-column-offset(2);
		@include make-sm-column(4);

		img {
			width: 25%;
			padding: 1%;
		}
	}
}

.small-title {
	color: silver;
}