.frontpage-container {
	@include make-row();
}

.frontpage-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5vh;
	height: 65vh;
	// ^^ important
}

.simulacrum-logo {
	display: block;
	height: 100%;
	max-width:100%;
	padding: 0 40px;
}

.simulacrum-issue-subtext {
	color: $brand-primary;
	padding: 0 40px;
	text-align: right;
	margin: 0px;
	margin-bottom: 0px;
}

.simulacrum-issue {
	display: block;
	margin: 0;

	padding: 0 40px;
	margin-bottom: 10vh;
	
	text-align: right;
	font-family: $font-family-sans-serif;
	color: $brand-primary;
}

.frontpage-post-container .post {
	margin-bottom: 100px;
	@include clearfix();
}

.post-thumbnail {
	height: 40vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	filter: grayscale(100%) brightness(1.1) url(#monochrome);
}

.post-thumbnail__img {
	display: block;
}

.frontpage-post-content {
	padding: 0 40px;
}

.frontpage-post-container h4 {
	margin-bottom: 0;
}

.author {
	margin-top: 4px;
	color: $brand-primary;
	font-family: $font-family-sans-serif;
	// important ^^^
}



.frontpage-post-nav {
	padding: 0 40px;
}

.oudere-posts {
	float: right;
}

// disable showing of SVG filter
.filter-for-images {
	display: none;
}

