.navigation {
	@media (min-width: $screen-sm-min) {
		height: 75px;
		margin-bottom: 40px;

	}
	height: 135px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 100px;
	border-bottom: 30px solid black;
	background: white;
	position: relative;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: 70px;
		line-height: 0.8;
		font-weight: 100;
	}
}

.navigation-left {
	position:absolute;
	left: -10px;
}

.navigation-right {
	position:absolute;
	right: -10px;
}

// .menu-arrows {
// 	color: black;
// 	float: right;
// }

.logo-container {
	position: absolute;
	left: 50%;
}

.small-logo {
	@media (min-width: $screen-sm-min) {
		height: 25px;
		top: 10px;
	}
	position: relative;
	left: -50%;
	height: 90px;
	top: 7.5px;
	overflow: hidden;
}

.main-header {
	position: relative;
	width: 100%;
	height: 100px;
	border-bottom: solid 5px black; 
	
	h4 {
		width: 100%;
		margin-top: 35px;
		text-align: right;
	}
}