.banner {
	background-color: white;
	color: black;
}

.main-logo {
	position: fixed;
	left: 0%;
	top: 20%;
	height: 60%;
}

.menu-button {
	background-color: #52B488; 
	color: white;
	@include make-sm-column(2);
	height: 50px;
	position:fixed;
	left: 0;
	&:focus {
		outline: none;
	}
	&:active {
		outline: none;
	}
}