.issue-container {
	height: 100px;
	// border-bottom: 5px black solid;
	background: hsla(0,0,0,1);
	background: url('../../assets/images/569451211997604-without.png');
	background-size: 200px auto;
	color: white;
	margin-top: -40px;
	overflow: hidden;
	position: relative;
	z-index: 1000;
	margin-bottom: 60px;
	h4 {
		transform: rotate(-45deg);
		font-weight: 200;
		letter-spacing: 5px;
	}
}

.issue-image {
	filter: grayscale(100%);
	display: inline-block;
	max-height: 100%;
	margin: 0 20px;
	padding: 0 5px 0 5px;
	background: white;	
}

.issue-membership-heading-container {
	background: hsla(0,0,0,0.5);
	padding: 30px;
	display: inline-block;
	z-index: -100;
	transform: rotate(45deg);
}