.issue-container {
	margin: 0 -15px 0 0;
	height: 150px;
	@media (min-width: $screen-sm-min) {
		border-right: 150px solid black;
	}
	border-right: 30px solid black;

	.issue-image {
		height: 150px;
		float: right;
		padding: 0 10px;

		filter: grayscale(100%);
		transition: all 0.5s ease-in-out;
		&:hover {
			// filter: none;
		}
	}
}

.issue-nav {
	height: 150px;
	-webkit-writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: left;
	float: right;

	padding: 0;
	margin: 0;

	border-right: 30px solid black;
	list-style: none;

	li {
		padding: 0 5px;
		margin: 0;
		font-size: 17px;
		border-left: 1px solid black;
		&:last-child {
			border-left: none;
		}
	}
}