.issue-container {
	margin-top: -70px;
	margin-right: -15px;
	height: 150px;
	border-right: 200px solid black;

	.issue-image {
		height: 150px;
		float: right;
		padding: 0 10px;

		border-left: 30px solid black;
		border-right: 30px solid black;

		filter: grayscale(100%);
		transition: all 0.5s ease-in-out;
		&:hover {
			// filter: none;
		}
	}
}

.call-for-papers-text {
	float: right;
	-webkit-writing-mode: vertical-rl;
	height: 150px;
	padding: 0 10px;
	text-align: center;
	transform: rotate(180deg);
	h3 {
		margin: 0;
		font-size: 17px;
	}
	.call-papers {
		letter-spacing: 3px;
	}
}