.wrap-fixed {
	position: fixed;
	width: inherit;
	height: 100%;
}

.header-left {
	position: relative;
	background: $brand-primary;
	width: 60%;
}

.header-right {
	position: relative;
	width: 40%;
	background: red;
	min-height: 1px;
}

.main-logo {
	position: absolute;
	left: -($grid-gutter-width * 0.5);
	top: 20%;
	// height: 60%;
	width: 100%;
}

.nav-side-on {
	
}