.page-header {
	text-align: center;
	border-bottom: 0;
}

.page__container {
  @include make-sm-column-offset(2);
  @include make-sm-column(8);
  @include make-md-column-offset(3);
  @include make-md-column(6);  
}

.page-404 {
  padding-top: 200px;
  text-align: center;
}
