.singular-post {
	padding: 0 40px;
}

.singular-post__contents {
	@include make-sm-column-offset(2);
	@include make-sm-column(8);
	@include make-md-column-offset(3);
	@include make-md-column(6);
	margin-top: -35px;
	background: white;
	img {
		transition: all 0.5s ease;
		filter: grayscale(100%) url(#monochrome);
	}
}

.singular-post__figcaption {
	margin-top: 10px;
}

.entry-meta {
	margin-bottom: 10px;
}

.like-options {
	float: left;
	margin-top: 50px;
	padding: 5px;

	.addthis_toolbox {
		a {
			padding: 0;
			span {
				margin-right: 10px;
				filter: grayscale(100%) ;
			}
		}
	}
	
}

.post-updated {
	float: right;
	margin-top: 50px;
}

.excerpt_class {
	@include make-sm-column-offset(2);
	@include make-sm-column(8);
	@include make-md-column-offset(3);
	@include make-md-column(6);
}