.single_post {
	@include make-sm-column-offset(2);
	@include make-sm-column(8);
	padding-bottom: 40px;
	border-right: 5px solid black;
	border-top: 5px solid black;
	padding: 50px 60px 20px 5%;
	background: white;
    transition: all 0.5s ease;
}

.toggle-post {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	width: 100%;
	height: 30px;
	background: black;
	color: white;
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

.like-options {
	position: absolute;
	right: 0;
	top: 30px;
	img {
		width: 35px;
		padding: 5px;
		display: block;
	}
}

.background-image-wrapper {
	position: absolute;
	z-index: -1000;
	background-repeat: no-repeat;
	margin-top: -180px;
	border-bottom: 5px solid black;
	width: 100%;
	height: auto;

	img {
		width: 100%;
	}
}

.export-options {
	width: 20%;
	margin: 0 auto;

	.social-img {
		width: 35px;
		margin: 5px;
	}
}

.similar-posts {
	margin-top: 40px;
	@include make-sm-column-offset(4);
	@include make-sm-column(4);
}

.excerpt_class {
	@include make-sm-column-offset(2);
	@include make-sm-column(8);
}